<div class="col-md-12">
    <hr/>
    <h1>{{titulo}}</h1>
    <div *ngIf="!identity || identity==null">
        Inicia sesion oara acceder a mas opciones...
    </div>

    <div *ngIf="identity && identity!= null" >
        Biuenvenido {{identity.name}} , <a [routerLink]="['/index']">entra en tu canal</a> o
        <a [routerLink]="['/create-video']">Crea un nuevo video</a>

    </div>
    <hr/>
</div>