<header id="header">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" [routerLink]="['/index']">
                    <img src="./assets/images/logo.png" height="50" style="margin-top: -15px;"/>
                </a>
            </div>
            <div class="collapse navbar-collapse" id ="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['/index']">HOME</a></li>
                    <li><a [routerLink]="['/create-video']" *ngIf="identity">Crear Video</a></li>

                </ul>

                <ul *ngIf="identity" class="nav navbar-nav navbar-right" id="credentials-top">
                    <li>
                        <a [routerLink]="['/index']" class="user-image">
                            <img src="http://fullstack.dev/uploads/users/{{identity.image}}" />

                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{identity.name}} {{identity.surname}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="['/index']"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Mi canal</a></li>
                            <li><a [routerLink]="['/user-edit']"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Ajustes</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a [routerLink]="['/login',1]"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir</a></li>
                        </ul>
                    </li>

                </ul>

                <ul *ngIf="!identity" class="nav navbar-nav navbar-right">
                    <li><a [routerLink]="['/login']">Acceder</a></li>
                    <li><a [routerLink]="['/register']">Registro</a></li>

                </ul>
            </div>
        </div>
    </div>
</header>

<div class="clearfix"></div>
<section class="main">
    <router-outlet></router-outlet>
    <div class="clearfix"></div>
</section>
