<div class="col-md-12">
    <hr/>
    <h1>{{ titulo }}</h1>
    <hr/>

    <form #newVideoForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-4">
        <p>
            <label>Titulo:</label>
            <input type="text" class="form-control" #title="ngForm"
                   ngControl="title" [(ngModel)]="video.title" required/>

            <span *ngIf="!title.valid && title.touched">
                El titulo no es valido
            </span>
        </p>

        <p>
            <label>Descripcion:</label>
            <textarea class="form-control" #description="ngForm"
                      [(ngModel)]="video.description" required> </textarea>

        </p>

        <p>
            <label>Estado:</label>
            <select class="form-control"
                    (change)="callVideoStatus(videostatus.value)" #videostatus>
                <option value="public" [attr.selected]="video.status === 'public'? 'selected':null">Publico</option>
                <option value="private" [attr.selected]="video.status === 'private'? 'selected':null">Privado</option>
            </select>
        </p>

        <input type="submit" value="Crear video" class="btn btn-success" />
    </form>
</div>